In [28]:
from pyspark.sql import *
import pandas as pd

In [29]:
spark = SparkSession\
            .builder\
            .appName("test-app")\
            .getOrCreate()

In [38]:
df = spark.read.csv("./TestData/users.csv", 
                            header="true", 
                            inferSchema="true")

df.createOrReplaceTempView("users")
df.sort("age","gender").show(truncate=True)
df.agg({'gender':'count','name':'count'}).show()

+---------+---+------+
|     name|age|gender|
+---------+---+------+
|   Olivia| 19|FeMale|
| Brooklyn| 21|FeMale|
|  Addison| 21|FeMale|
|     Ella| 22|FeMale|
|    Sofia| 22|FeMale|
|      joe| 22|  Male|
|   Harper| 23|FeMale|
|      Zoe| 23|FeMale|
|   Violet| 23|FeMale|
|   Sophie| 24|FeMale|
|     Nora| 24|FeMale|
|   Skylar| 24|FeMale|
|     Lily| 25|FeMale|
|Gabriella| 25|FeMale|
|   Amelia| 26|FeMale|
|    Bella| 26|FeMale|
|   Layton| 26|  Male|
|      Ava| 27|FeMale|
|   Hannah| 27|FeMale|
|     Aria| 27|FeMale|
+---------+---+------+
only showing top 20 rows

+-------------+-----------+
|count(gender)|count(name)|
+-------------+-----------+
|          109|        109|
+-------------+-----------+

In [37]:
sql = """
SELECT gender, AVG(age) as avg_age
FROM users
GROUP BY gender
"""
query = spark.sql(sql)
query.toPandas()

   gender    avg_age
0    Male  46.000000
1  FeMale  31.925926